.about-company
    .about-company__slider
        img(src="./src/about-company/about-company__img.png")
        img(src="./src/about-company/about-company__img.png")
        img(src="./src/about-company/about-company__img.png")
        img(src="./src/about-company/about-company__img.png")
    .about-company__info
        span(class="about-company__caption") О компании
        p(class="about-company__text")
            | Donec eget diam sagittis, vehicula purus nec, vulputate eros. Nulla facilisi. Suspendisse egestas bibendum cursus. Cras elementum ligula eget euismod feugiat. Nunc nec eros non diam eleifend tincidunt et a velit. Sed nisl libero, vestibulum vitae turpis id, vulputate ultrices leo. Cras et est eget lectus blandit cursus vehicula at ligula. Etiam auctor, quam ornare iaculis malesuada, tellus sem egestas felis, vitae euismod eros mi eget urna. Sed turpis sem, semper quis ligula vel, consequat hendrerit sapien. Ut pharetra mollis nulla vehicula laoreet. Ut aliquet ultrices turpis, at vehicula lorem blandit in. Donec in urna at arcu consequat imperdiet eget quis leo. Fusce at sapien efficitur, tincidunt odio sit amet, aliquam risus.
        button(class="about-company__button") Узнать больше