doctype html
html
  include src/head/head.pug
  body
    include src/header/header
    include src/main-screen/main-screen
    include src/advantege/advantege
    include src/pop-cats/pop-cats
    include src/brands-slider/brands-slider
    h2(class="pop-cats__h2") Новинки
    .product-card-container
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
    include src/baner/baner
    h2(class="pop-cats__h2") Скидки
    .product-card-container
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
        include src/product-card/product-card
    include src/review-slider/review-slider
    include src/about-company/about-company
    include src/insta-block/insta-block
    include src/map/map
    include src/subscribe-block/subscribe-block