header
    .header__top
        div
            span(class="header__address") г. Абакан, ул. Дружбы Народов, 40
            a(href="#", class="header__look-at-the-map") Посмотреть на карте
        div
            .phone
                .phone__img
                span(class="phone__number") 8 (390) 229-78-41
                a(href="#", class="phone__request-a-call") Заказать звонок
            .header__search
    .header__bottom
        span(class="header__persona") persona
        ul(class="header__navbar")
            a(href="#")
                li Новые коллекции
            a(href="#")
                li Скидки
            a(href="#")
                li Как купить
            a(href="#")
                li Контакты
        div(style="display:flex;")
            .header__signin-box
                .header__signin-img
                a(href="#", class="header__signin") Войти
            .header__basket
                .header__basket-img(class="header__basket-img_quantity")
                span(class="header__basket-price") 2000 ₽