.insta-block
    img(src="./src/insta-block/insta-block.png")
    .insta-block__info
        span(class="insta-block__caption") Следуй за нами в соцсети
        .insta-block__social-block
            img(src="./src/insta-block/vk.png")
            img(src="./src/insta-block/fb.png")
            img(src="./src/insta-block/ok.png")
            img(src="./src/insta-block/inst.png")