.map-container
    .map__address-list
        .map__address-item
            span(class="map__address-name") Виктор
            br
            span(class="map__address-phone") 8 (390) 229-78-41
            br
            a(class="map__address-local", href="#") г. Абакан, ул. Дружбы Народов, 39
        .map__address-item
            span(class="map__address-name") Виктор
            br
            span(class="map__address-phone") 8 (390) 229-78-41
            br
            a(class="map__address-local", href="#") г. Абакан, ул. Дружбы Народов, 39
        .map__address-item
            span(class="map__address-name") Виктор
            br
            span(class="map__address-phone") 8 (390) 229-78-41
            br
            a(class="map__address-local", href="#") г. Абакан, ул. Дружбы Народов, 39
        .map__address-item
            span(class="map__address-name") Виктор
            br
            span(class="map__address-phone") 8 (390) 229-78-41
            br
            a(class="map__address-local", href="#") г. Абакан, ул. Дружбы Народов, 39
    .map(id="map")