h2(class="pop-cats__h2") Популярные категории
.pop-cats-wrapper
    .pop-cats__bag
        button(class="pop-cats__button") Сумки
    .pop-cats__costume
        button(class="pop-cats__button") Костюмы
    .pop-cats__outerwear
        button(class="pop-cats__button") Верхняя одежда
    .pop-cats__pants
        button(class="pop-cats__button") Брюки
    .pop-cats__footwear
        button(class="pop-cats__button") Обувь