.subscribe-block
    img(class="subscribe-block",src="./src/subscribe-block/subscribe-block.png")
    h2(class="subscribe-block__caption") Подпишись на новинки и акции
    form(class=".subscribe-block__form")
        input(type="text", placeholder="Ваше имя",class="subscribe-block__name")
        input(type="email",placeholder="Ваш email",class="subscribe-block__email")
        input(type="submit",class="subscribe-block__button", value="Подписаться")