head
    meta(charset='utf-8')
    title Landing
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='./build/styles.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
    style(type='text/css').
      @font-face {
      font-family: "Lato Black";
      src: url("./main/__fonts/Lato-Black/Lato-Black.eot?") format("eot"), url("./main/__fonts/Lato-Black/Lato-Black.woff") format("woff"), url("./main/__fonts/Lato-Black/Lato-Black.ttf") format("truetype"), url("./main/__fonts/Lato-Black/Lato-Black.svg#Lato-Black") format("svg");
      font-weight: normal;
      font-style: normal;
      }
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity='sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
    script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')

