.advantege
    .__advantege-gift
        img(src="./src/advantege/__advantege-images/__advantege-gift.png", class="__advantege-image")
        p
            | Подарочные
            br
            | сертификаты
    .__advantege-sheld
        img(src="./src/advantege/__advantege-images/__advantege-sheld.png", class="__advantege-image")
        p
            | Весь товар
            br
            | сертифицирован
    .__advantege-delivery
        img(src="./src/advantege/__advantege-images/__advantege-delivery.png", class="__advantege-image")
        p
            | Весь товар
            br
            | сертифицирован
    .__advantege-sertificate
        img(src="./src/advantege/__advantege-images/__advantege-sertificate.png", class="__advantege-image")
        p
            | Удобная
            br
            | и быстрая доставка