.review-slider__container
    h2(class="review-slider__h2") Отзывы
    .review-slider
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
        .review-slider__review
            img(src="./src/review-slider/photo-review.png")
            .slider-review__info
                span(class='slider-review__name') Александр Передерей
                br
                span(class='slider-review__date') 18 декабря 2016
                br
                br
                a(class='slider-review__link', href="#") 
                    | Перейти к отзыву 
                    span →
            p(class="review-slider__text")
                | Лично меня этот магазин устраивает по всем параметрам: и расположение, и ассортимент, и обслуживание — именно о нём пару слов. Прихожу (как правило это бывает на обеде, время ограничено) говорю, что хочется чего то новенького в гардеробчик, или конкретно, что мне нужно. Девушки чётко и быстро реагируют на мои пожелания, не забывают улыбаться и шутить, вообще коллектив мне нравится, обстановка дружелюбная. Без покупки ещё ни разу не ушел. Качество товара тоже радует.
    button(class="review-slider__button") Оставить отзыв