.brands-slider
    img(src="./src/brands-slider/brands-slider__images/brands-images__barbara.png")
    img(src="./src/brands-slider/brands-slider__images/brands-images__Lerros.png")
    img(src="./src/brands-slider/brands-slider__images/brands-images__MM-Studio.png")
    img(src="./src/brands-slider/brands-slider__images/brands-images__MM-Weekend.png")
    img(src="./src/brands-slider/brands-slider__images/brands-images__via.png")
    img(src="./src/brands-slider/brands-slider__images/brands-images__zerres.png")