.main-screen
    p(class="main-screen__caption")
        | Стиль и элегантность
        br
        | вместе с PERSONA
    p(class="main-screen__caption2")
        | Лучшие бренды и качество
        br
        | подчеркнут твою индивидуальность
    button(class="main-screen__button") Смотреть каталог
    img(src="./src/main-screen/main-screen__images/main-screen__jacket2.png", class="main-screen__jacket2")
    img(src="./src/main-screen/main-screen__images/main-screen__jacket1.png", class="main-screen__jacket1")
    img(src="./src/main-screen/main-screen__images/main-screen__hat.png", class="main-screen__hat")
    img(src="./src/main-screen/main-screen__images/main-screen__bag.png", class="main-screen__bag")